<h1>Edit Wiki</h1>

<div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
</div>

<div class="col-md-8">
    <%= render partial: 'collaborators/collaborators', locals: { wiki: @wiki } %>
</div>